body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    padding: 15px;
    border-radius: 5px;
    background-color: #e9ecef;
    box-shadow: 0 4px 8px #cb6ce6; 
}

.chat-header {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.chat-input {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-input button{
    margin-top: 20px;
    margin-left: 10px;
}

.chat-messages {
    width: 100%;
    height: 400px; 
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #cb6ce6;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.chat-messages p {
    margin: 0;
    padding: 5px;
    word-wrap: break-word; 
}

input {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #cb6ce6;
    border-radius: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

#display {
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #cb6ce6;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#display p {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Esto va a hacer que los mensajes impares salgan con otro color */
#display p:nth-child(odd) {  
    background-color: #e1e1e1;
}