.seccion {
  margin: 5px;
  padding: 5px;
  background-color: rgba(203, 108, 230, 0.4);
  border-radius: 10px;
}

.btn_container {
  display: flex;
  justify-content: center;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#columnas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

#cabecera-container {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px 8px #cb6ce6;
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#columna1 {
  border: 3px solid black;
  box-shadow: 6px 10px 8px #cb6ce6;
  border-radius: 10px;
  width: 44%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#columna1 .seccion {
  flex: 1;
}

#columna2 {
  border: 3px solid black;
  box-shadow: 6px 10px 8px #cb6ce6;
  border-radius: 10px;
  width: 52%;
  box-sizing: border-box;
}

#display {
  height: 300px;
  overflow-y: auto; 
}

#display p {
  display: block;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Esto va a hacer que los mensajes impares salgan con otro color */
#display p:nth-child(odd) {  
  background-color: #e1e1e1;
}

#btn_pruebas {
  /* border: 3px solid black; */
  border-radius: 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

ul {
  font-size: 16px;
}
