header {
    font-family: 'Luckiest Guy';
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -1px -1px 6px 0 #cb6ce6, 4px 4px 16px 2px #5e17eb;
}

.naveg {
    padding: 1%;
}

.naveg nav{
    display: flex; /* Utilizar flexbox para alinear los elementos en fila */
    justify-content: space-between; /* Distribuir los elementos equitativamente en la fila */
    margin: 0 10%; /* Añadir espacio horizontal entre los enlaces */
    font-size: large;
}

.naveg a {
    font-size: 17px;
    display: block;
    text-align: center;
    color: #5e17eb; /* Color del texto del enlace */
    transition: color 0.3s ease; /* Efecto de transición al pasar el ratón */
}

.naveg a:hover {
    color: #cb6ce6; /* Color de fondo del enlace al pasar el ratón */
}

body {
    justify-content: center;
    font-family: Arial, sans-serif; 
    background-color: white;
    /* Establecer el fondo en mosaico */
    background-image: url('../Images/icono-TheNightmareBeforeChristmas.png');
    background-repeat: space;
    background-size: 120px;
}

.contenedor {
    margin-top: 2%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    max-width: 60%;
    max-height: 60%;
    /* max-width: 800px;
    margin-top: 0 auto; */
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: -1px -1px 6px 0 #cb6ce6, 4px 4px 16px 2px #5e17eb;
    overflow: hidden;
    background-color: #e9ecef;
}

.nombre-imagen-producto {
    max-height: 90%;
    max-width: 90%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 30px;
    border-color: #cb6ce6;
}

.nombre-imagen-producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    transition: transform 0.5s ease; /* Agregar una transición de 0.5 segundos */
}

.nombre-imagen-producto:hover img {
    transform: scale(1.1); /* Ampliar la imagen al pasar el ratón por encima */
}

.nombre {
    font-family: 'Luckiest Guy';
    margin: auto;
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.descripcion-producto {
    margin: 30px;
    padding: 5px;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.precio {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.contenedor .precio p {
    font-family: 'Luckiest Guy';
}

.contenedor a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #5e17eb;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: auto;
}

.contenedor a:hover {
    background-color: #cb6ce6;
}

.boton-retorno {
    padding-bottom: 10px;
}