#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#columnas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cabecera-container {
  border: 1px solid #cb6ce6;
  border-radius: 10px;
}

#columna1 {
  border: 1px solid #cb6ce6;
  border-radius: 10px;
}

#columna2 {
  border: 1px solid #cb6ce6;
  border-radius: 10px;
}